---
layout: "rabbitmq"
page_title: "RabbitMQ: rabbitmq_exchange"
sidebar_current: "docs-rabbitmq-resource-exchange"
description: |-
  Creates and manages an exchange on a RabbitMQ server.
---

# rabbitmq\_exchange

The ``rabbitmq_exchange`` resource creates and manages an exchange.

## Example Usage

```hcl
resource "rabbitmq_vhost" "test" {
  name = "test"
}

resource "rabbitmq_permissions" "guest" {
  user  = "guest"
  vhost = "${rabbitmq_vhost.test.name}"

  permissions {
    configure = ".*"
    write     = ".*"
    read      = ".*"
  }
}

resource "rabbitmq_exchange" "test" {
  name  = "test"
  vhost = "${rabbitmq_permissions.guest.vhost}"

  settings {
    type        = "fanout"
    durable     = false
    auto_delete = true
  }
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

Exchanges can be imported using the `id` which is composed of  `name@vhost`.
E.g.

```
terraform import rabbitmq_exchange.test test@vhost
```
