---
layout: "rabbitmq"
page_title: "RabbitMQ: rabbitmq_operator_policy"
sidebar_current: "docs-rabbitmq-resource-operator-policy"
description: |-
  Creates and manages an operator policy on a RabbitMQ server.
---

# rabbitmq\_operator_policy

The ``rabbitmq_operator_policy`` resource creates and manages operator policies for queues.

## Example Usage

```hcl
resource "rabbitmq_vhost" "test" {
  name = "test"
}

resource "rabbitmq_permissions" "guest" {
  user  = "guest"
  vhost = "${rabbitmq_vhost.test.name}"

  permissions {
    configure = ".*"
    write     = ".*"
    read      = ".*"
  }
}

resource "rabbitmq_operator_policy" "test" {
  name  = "test"
  vhost = "${rabbitmq_permissions.guest.vhost}"

  policy {
    pattern  = ".*"
    priority = 0
    apply_to = "queues"

    definition = {
      message-ttl = 3600000
      expires = 1800000
    }
  }
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

Operator policies can be imported using the `id` which is composed of `name@vhost`.
E.g.

```
terraform import rabbitmq_operator_policy.test name@vhost
```
