---
layout: "rabbitmq"
page_title: "RabbitMQ: rabbitmq_policy"
sidebar_current: "docs-rabbitmq-resource-policy"
description: |-
  Creates and manages a policy on a RabbitMQ server.
---

# rabbitmq\_policy

The ``rabbitmq_policy`` resource creates and manages policies for exchanges
and queues.

## Example Usage

```hcl
resource "rabbitmq_vhost" "test" {
  name = "test"
}

resource "rabbitmq_permissions" "guest" {
  user  = "guest"
  vhost = "${rabbitmq_vhost.test.name}"

  permissions {
    configure = ".*"
    write     = ".*"
    read      = ".*"
  }
}

resource "rabbitmq_policy" "test" {
  name  = "test"
  vhost = "${rabbitmq_permissions.guest.vhost}"

  policy {
    pattern  = ".*"
    priority = 0
    apply_to = "all"

    definition = {
      ha-mode = "all"
    }
  }
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

Policies can be imported using the `id` which is composed of `name@vhost`.
E.g.

```
terraform import rabbitmq_policy.test name@vhost
```
